POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=postgres
DATABASE_URL=
JWT_SECRET=
PORT=3000
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
AWS_ENDPOINT_URL=http://localhost:4566
S3_BUCKET_NAME=job-tracker-files